name: Foundry

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    name: Foundry Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive

      - uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1

      - name: Check forge version
        run: forge --version

      - name: Check forge tree
        run: forge tree

      - name: Install NPM packages
        run: npm install

      - name: Run Foundry tests
        run: |
          export PROVIDER_URI_SEPOLIA=${{ secrets.PROVIDER_URI_SEPOLIA }}
          RUST_BACKTRACE=1 forge test -vvv